/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fuente pixelada */
body {
  font-family: 'Press Start 2P', cursive;
  background-color: #121212;
  color: #fff;
  scroll-behavior: smooth;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Hero section */
.hero {
  height: 100vh;
  background: linear-gradient(135deg, #00595f, #05a0ac);
  background-size: 400% 200%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #FFCC00;
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #FFCC00;
}

.hero .btn {
  background-color: #56a0d3;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
}

/* Secciones */
section {
  padding: 60px 40px;
  margin-bottom: 10px;
  text-align: center;
}

.about p {
  line-height: 50px;
}
.quote {
  position: relative;
  font-size: 15px;
  margin-top: 20px;
  text-transform: uppercase;
  font-family: 'Press Start 2P', cursive;
  color: #ffcc00;
  text-align: center;
  padding: 15px;
  animation: flameFlicker 1s infinite alternate;
}
/* Tech Stack */
.tech-stack ul {
  list-style: none;
  padding: 0;
}

.tech-stack li {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

/* Project cards */
.project-card {
  background-color: #333;
  padding: 50px;
  margin-bottom: 20px;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-card a {
  color: #FFCC00;
  text-decoration: none;
  font-weight: bold;
}

/* Contact Section */
.contact ul {
  display: flex;
  gap: 15px;
  text-align: center;
}

.contact a {
  color: #56a0d3;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}

/* Footer */
footer {
  background-color: #222;
  text-align: center;
  padding: 20px;
}

footer p {
  font-size: 1rem;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.flip-btn {
  display: inline-block;  
  perspective: 1000px;
}

@keyframes flameFlicker {
  0% {
    text-shadow: 0 0 5px #ff6600, 0 0 10px #ff3300, 0 0 20px #ff0000;
  }
  100% {
    text-shadow: 0 0 10px #ffaa00, 0 0 20px #ff6600, 0 0 30px #ff3300;
  }
}

#name {
  display: inline-block;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

#name.hidden {
  opacity: 0;
  transform: scale(0.8); /* Reduce el tamaño mientras desaparece */
}



